h1 {
    font-weight: 300;
    text-align: center;
    color: navy;
    line-height: 45px;
    font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.container {
    max-width: 750px;
}


.container2 {
    margin-top: 25px;
}


.jumbotron {
    margin:auto;
    border-radius: 6px;
    background-color: #DAF7A6;
}


p {
    margin: 25px;
}